<!DOCTYPE html>
<html>
<head>
    <title>Task management system [demo]</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Options</p>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="/admin/">Admin</a></li>
        {% if user.is_authenticated %}
            <li><a href="/swagger/">Swagger</a></li>
            <li><a href="/tasks/">Task list</a></li>
        {% endif %}
    </ul>
</body>
</html>
